/**************************/
/* Navigation */
/**************************/
.header {
  background-color: #ff6b81;
}

.header > .container {
  justify-content: space-between;
}

.nav-links {
  display: flex;
  width: 59.4rem;
  justify-content: space-between;
}

.nav-link:link,
.nav-link:visited {
  font-weight: 600;
  color: #fff;
  padding: 4rem 0;
  display: inline-block;
}

.header .btn {
  border: 2px solid #fff;
  border-radius: 0.5rem;
}

.sub-nav {
  flex-direction: column;
  background-color: #fff;
  /* z-index: 1; */
  position: absolute;
  top: calc(100% - 0.2rem);
  left: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 3rem;
  gap: 2.4rem;
  font-size: 1.4rem;
  min-width: 24rem;
  display: none;
}

.sub-nav-link:link,
.sub-nav-link:visited {
  color: #888;
  display: inline-block;
  border-radius: 0.5rem;
  white-space: nowrap;
  font-weight: 500;
}

.sub-nav-link:hover,
.sub-nav-link:active {
  color: #ff6b81;
}

.sub-nav-included {
  position: relative;
}

.sub-nav-included:hover .sub-nav,
.sub-nav-included:active .sub-nav {
  display: flex;
}

.sub-nav-included::before {
  content: "";
  width: 200%;
  position: absolute;
  top: calc(100% - 3.2rem);
  left: 0;
  height: 3.2rem;
  display: none;
}

.sub-nav-included:hover::before,
.sub-nav-included:active::before {
  display: block;
}

/**************************/
/* Application */
/**************************/
.app {
  /* temp  */
  height: 50rem;
  align-items: center;
  margin-bottom: 26rem;
}

.app-icon {
  width: 6rem;
  height: 6rem;
  color: #fff;
  background-color: #ff6b81;
  border-radius: 0.5rem;
  padding: 1.8rem;
  fill: #fff;
  margin-bottom: 3rem;
}

.app-title {
  font-size: 3rem;
  font-weight: 700;
  color: #081828;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.app-desc {
  line-height: 1.6;
  margin-bottom: 3.5rem;
}

.app-btn:link,
.app-btn:visited {
  background-color: #ff6b81;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.app-btn:hover,
.app-btn:active {
  background-color: #000;
  color: #fff;
}

.app-img {
  width: 58.6rem;
  padding-left: 5rem;
}

.app-img + .app-content {
  padding-left: 4rem;
}

/**************************/
/* Pricing */
/**************************/
.pricing {
  background-color: #f9f9f9;
  padding: 10rem 0;
}

.pricing-boxes {
  margin-top: 8.4rem;
}

.pricing-box {
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 1rem;
  transition: all 0.3s;
}

.pricing-box:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.pricing-info {
  padding: 2.6rem;
}

.pricing-title {
  font-weight: 600;
  margin-bottom: 2rem;
  color: #081828;
}

.pricing-box-desc {
  font-size: 1.4rem;
}

.pricing-money {
  margin: 3.6rem 0;
}

.pricing-money span {
  font-size: 3rem;
  font-weight: 700;
  color: #081828;
}

.pricing-btn:link,
.pricing-btn:visited {
  display: block;
  background-color: #081828;
  border-radius: 0.5rem;
  transition: all 0.2s;
  font-size: 1.3rem;
  padding: 1.5rem;
}

.pricing-btn:hover,
.pricing-btn:active {
  background-color: #ff6b81;
  color: #fff;
}

.pricing-include {
  padding: 2.6rem;
  border-top: 1px solid #eee;
}

.pricing-include-title {
  text-transform: uppercase;
  color: #081828;
  font-size: 1.4rem;
  margin-bottom: 2.4rem;
  font-weight: 500;
}

.pricing-include-list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.pricing-include-item {
  font-size: 1.4rem;
  gap: 1.2rem;
}

.pricing-include-icon {
  font-size: 1.4rem;
  width: 1.7rem;
  height: 1.7rem;
  fill: #ff6b81;
}

/**************************/
/* Install */
/**************************/
.install {
  background-color: #ff6b81;
  padding: 10rem 0;
}

.install-heading {
  font-size: 3.8rem;
  color: #fff;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.install-desc {
  color: #fff;
  margin-bottom: 3.2rem;
}

.install-btns {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.install-btn:link,
.install-btn:visited {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
  justify-content: center;
  padding: 1.4rem 2.7rem;
}

.install-btn:nth-child(1):link,
.install-btn:nth-child(1):visited {
  color: #ff6b81;
  background-color: #fff;
}

.install-btn:nth-child(1):link .install-icon,
.install-btn:nth-child(1):visited .install-icon {
  fill: #ff6b81;
}

.install-btn:nth-child(1):hover,
.install-btn:nth-child(1):active {
  color: #fff;
  background-color: #081828;
}

.install-btn:nth-child(1):hover .install-icon,
.install-btn:nth-child(1):active .install-icon {
  fill: #fff;
}

.install-btn:nth-child(2):link,
.install-btn:nth-child(2):visited {
  background-color: #ff6b81;
  border: 2px solid #fff;
}

.install-btn:nth-child(2):link .install-icon,
.install-btn:nth-child(2):visited .install-icon {
  fill: #fff;
}

.install-btn:nth-child(2):hover,
.install-btn:nth-child(2):active {
  color: #ff6b81;
  background-color: #fff;
}

.install-btn:nth-child(2):hover .install-icon,
.install-btn:nth-child(2):active .install-icon {
  fill: #ff6b81;
}

/**************************/
/* FAQ */
/**************************/
.faq {
  padding: 10rem 0;
}

.faq-desc {
  margin-bottom: 8.4rem;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.faq-item {
  border: 0.1rem solid #eee;
  border-radius: 1rem;
  overflow: hidden;
}

.faq-wrapper {
  padding: 2rem;
  cursor: pointer;
}

.faq-number {
  display: inline-block;
  border-radius: 50%;
  margin-right: 1.6rem;
  color: #081828;
  border: 0.1rem solid #eee;
  border-radius: 50%;
  font-weight: 600;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
}

.faq-question {
  color: #081828;
  font-weight: 600;
}

.faq-icon {
  margin-left: auto;
  width: 1.8rem;
  height: 1.8rem;
  color: #081828;
}

.faq-icon--opened {
  fill: #fff;
  display: none;
}

.faq-answer {
  display: none;
  padding: 4rem;
  fill: #081828;
}

.faq--actived .faq-answer,
.faq--actived .faq-icon--opened {
  display: block;
}

.faq--actived .faq-icon--closed {
  display: none;
}

.faq--actived {
  background-color: #f9f9f9;
}

.faq--actived .faq-wrapper {
  background-color: #ff6b81;
}

.faq--actived .faq-question {
  color: #fff;
}

.faq--actived .faq-number {
  background-color: #fff;
  color: #081828;
}
